#b
{
	background-image: url("./imagenes/inicio.jpg");
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	
	}
.Log
{
	border: 4px outset #FFFF;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	background-color:rgba(192,192,192,0.3);
	padding: 50px;
}
.botonInicio {
color: rgb(255, 255, 255);
 font-size: 21px;
  line-height: 21px;
   padding: 14px;
    border-radius: 15px;
     font-family: Georgia, serif;

       font-style: normal;
        font-variant: normal;
          background-image: linear-gradient(to right, rgb(0, 8, 176) 0%, rgb(0, 8, 176) 50%, rgb(0, 8, 176) 100%);
           box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 6px outset rgb(0, 5, 106);
            display: inline-block;}
.botonInicio:hover {
background: #0008B0; }
.botonInicio:active {
background: #0008B0; }
